NODE_ENV=app_environment
PORT=app_port
CLIENT_PORT=client_port

DB_DRIVER=db_driver
DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password

JWT_SECRET=jwt_secret
JWT_EXPIRES=jwt_expires

OPENWEATHER_API_KEY=openweather_api_key
WEATHER_BASE_URL=weather_base_url

SERVER_INTERNAL_PORT=server_internal_port
CLIENT_INTERNAL_PORT=client_internal_port