SERVER_ENV_FILE=./server/.env.docker
CLIENT_ENV_FILE=./client/.env

DB_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=weather_db
SERVER_PORT=3000
SERVER_INTERNAL_PORT=3000
CLIENT_PORT=5173
CLIENT_INTERNAL_PORT=5173
