NODE_ENV=development
PORT=3000
APP_PREFIX=api
APP_CORS=true
APP_CORS_ORIGIN=http://localhost:5173
CLIENT_PORT=5173

DB_DRIVER=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=weather_db
DB_USER=user
DB_PASSWORD=password

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

OPENWEATHER_API_KEY=openweather_api_key
WEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
GEO_BASE_URL=https://api.openweathermap.org/geo/1.0

SERVER_INTERNAL_PORT=3000
CLIENT_INTERNAL_PORT=5173
