.label {
  color: rgba(14, 55, 102, 0.85);
}

.controls {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: rgba(14, 55, 102, 0.85);
}

.pinnedCheckbox {
  color:rgba(14, 55, 102, 0.85);
  padding-bottom: 8px;
}

.select {
  width: 120px;
  margin-right: 8px;
}

.deleteCol {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.disabledLabel {
  color: var(--ant-color-text-disabled);
  cursor: not-allowed;
}
